# Ignore output and log files
output/*
logs/*
storage/*

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
venv/
env/
*.egg-info/

# Ignore dataset and logging files
data/*
wandb/*

# VSCode settings
.vscode/