torch
torchvision
numpy
matplotlib
scikit-learn
einops
scipy
opencv-python
timm
gdown
transformers
wandb
lmdb
Pillow
PyYAML
tqdm
lpips
-e git+https://github.com/LTH14/torch-fidelity.git@master#egg=torch-fidelity